/*quotes*/
.sqs-block .sqs-block-content blockquote {
  color: #005ab6;
}
.quote-block .source {
  color: #003f80;
}
blockquote {
     padding: 0px 0px 30px 0px;
 }

/*headers*/
h4 {
   font-family: "proxima-nova", sans-serif;
   font-weight: 600;
   font-size: 15px;
   line-height: 0em;
   color: #2c2c2c;
 }

h5 {
   font-family: "proxima-nova", sans-serif;
   font-weight: 600;
   font-size: 12px;
   text-transform: uppercase;
   color: #2c2c2c;

 }

 h6 {
   font-family: "proxima-nova", sans-serif;
   font-weight: 300;
   font-size: 14px;
   color: #2c2c2c;
   margin-top:-10px;
 }

/*resume style sheets*/
.jw-header {
  text-transform: uppercase;
  font-size: 60px;
}

.jw-subheader-color {
  color: #bf0000;
  font-weight: 500;
  line-height: 0.1em;
}

.section-header-color {
  text-transform: uppercase;
  font-size: 15px;
  color: #bf0000;
}

/*website style sheets*/

.case-study-header {
  font-weight: 800;
  font-size: 23px;
}

.section-subheader-color {
  font-weight: 600;
  color: #9d9d9d;
}

.case-study-info {
  font-weight: 520;
  color: #cdcdcd;
}

.red {
  color: #bf0000;
}

.form-block { 
  font-family: "proxima-nova", sans-serif;
  color: #ffffff; 
 }